[app]
name = "personal-finance"
secret_key = "rahasiayah"
issuer = "personal-finance"
token_expired_at = 60

[server]
host = "localhost"
port = 3000
read_timeout = 5
write_timeout = 10
idle_timeout = 5

[database]
is_active = true
host = "localhost"
db = "finance"
username = "root"
password = "qwerty123"
port = "3306"